/* 그리드 컨테이너 스타일 */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    /* 3개의 열로 설정 */
    gap: 30px;
    /* 그리드 아이템 간격 설정 */
    justify-content: center;
    /* 수평 가운데 정렬 */
    overflow: auto;
    /* 스크롤바 추가 */
    max-height: 80vh;
    /* 최대 높이 설정 */
    margin: 30px 50px 30px 50px;
}

/* 각 그리드 아이템 스타일 */
.grid-item {
    height: 280px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    /* 아이템 내부 요소들을 수평 정렬하기 위해 추가 */
    align-items: center;
    /* 아이템 내부 요소들을 수직 가운데 정렬하기 위해 추가 */
}

.grid-item img {
    width: 50%;
    /* 사진을 왼쪽 절반으로 설정 */
    height: 70%;
    border-radius: 5px;
    margin-right: 20px;
    /* 사진과 정보 사이 간격 조정 */
}

.grid-item-content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.text-container {
    overflow: hidden;
    text-overflow: ellipsis;
     /* 텍스트가 줄바꿈되지 않도록 설정 */
     white-space: nowrap;
}

.text-container p {
    overflow: hidden;
    text-overflow: ellipsis;
     /* 텍스트가 줄바꿈되지 않도록 설정 */
     white-space: nowrap;
}

.btn-container {
    display: flex;
    flex-direction: row;
}

.editBtn {
    margin-right: 5px;
}
